/*.mode{
    position: fixed
}
.container
  {
    box-shadow: 10px 10px 5px 12px lightblue;
  }
.container
  {
    border-radius: 40px;
    color: rgb(1, 7, 12);
    background-color: aliceblue(12, 12, 12);
  }
  .navbar {
    box-shadow: 10px 10px 5px lightblue;
    border-radius: 80px;
}
*/