.mode{
    position: fixed
}
.container
  {
    box-shadow: 10px 10px 5px 12px lightblue;
  }
.container
  {
    box-shadow: 10px 10px 5px 12px lightblue;
    border-radius: 40px;
    color: rgb(7, 7, 7);
    background-color: rgb(253, 252, 252);
  }
  .navbar {
    box-shadow: 10px 10px 5px lightblue;
    border-radius: 80px;
}