<h1>About Us</h1>
<div class="container p-5 my-5 border bg-dark text-white">

  <br><br>
   
    <h1>LIFE OF STREET ANIMALS-HELPERS :</h1>
   <p>    To rescue, rehabilitate and rehome animals in crisis, ensure healthy pets through education, advocacy and
      affordable services, and inspire a community where the animal-human bond is celebrated and nurtured.
    Animal welfare is not just about animals. It is about us. Our living conditions, our children, our earth. Cruelty
      to animals has a significant and irreversible impact on peaceful societies, human health, the economy, and the
      environment.
      People for Animals, PFA, is India's largest Non-Governmental Animal Welfare Organization with a nationwide network
      of 26 hospitals, 165 units, 60 mobile units, and 2.5 Lakh members. We work to rescue and rehabilitate sick and needy
      animals. We set up and run shelters, ambulance services, sterilization programs, treatment camps and disaster rescue
      missions for animals.
      We conduct education programs in schools, fight cases in court, and lobby on animal issues in parliament.
      PFA aims to set up an animal welfare centre in each of the nation's 600 districts.
      Animal welfare is not just about animals. It is about us. Our living conditions, our children, our earth. Cruelty to
      animals has a significant and irreversible impact on peaceful societies, human health, the economy, and the
      environment.</p>

  <div class="container p-5 my-5 bg-primary text-black">
    <h1>Mission</h1>
    <img src="../assets/b3.jpg" height="100%" width="100%">
    <p> To rescue, rehabilitate and rehome animals in crisis, ensure healthy pets through education, advocacy and
      affordable services, and inspire a community where the animal-human bond is celebrated and nurtured.</p>
    <br>
    <p>
     
    </p>
  </div>
  
  <div class="container p-5 my-5 bg-light text-black">
    <h1>Vission</h1>
    <img src="../assets/dog2.jpg" height="100%" width="100%">
    <p>People depend on animals for their livelihood. One billion of the world’s most vulnerable to disasters rely on
      their livestock to recover in the aftermath.
  
      "Animal owners must be given tools or tactics to protect their animals". We hope that compassion expressed in action
      will create a new balance in the human-animal-nature relationship. This is in the interest of all living beings.</p>
    <br>
    <p>
     
    </p>
  </div>
  <div class="container p-5 my-5 border text-black">
    <h1>Strategy</h1>
    <img src="../assets/b2.jpg" height="100%" width="100%">
    <p>To end the use of animals in food and clothing To end the pet industry and to foster a positive human-companion
      animal relationship (in streets and homes) To end the use of animals in experimentation To end the use of working
      animals, animals in entertainment and animal sacrifice To improve the framework of animal protection in the country
      To end the exploitative nature of human-animal relationships Providing the organisational framework and structure
      for meeting the organisation’s vision and objectives. </p>
    <br>
    <p>
     
    </p>
  </div>
 
  <section class="py-3 py-md-5">
    <h2><b>About Us</b></h2>
    <div class="container1">
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6 col-xl-5">
          <img class="img-fluid rounded" loading="lazy" src="../assets/b5.jpg" alt="About 1">
        </div>
        <div class="col-12 col-lg-6 col-xl-7">
          <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-11">
              <h2 class="mb-3">Who Are We?</h2>
             
              <h2>We provide help to animal for shelter,food,madicins,etc. </h2>
          
              <p>Animal rescue organization is a group dedicated to pet adoption. This group take
                unwanted,abandoned,abused or stray pets and attempt to finds suitable homes for them.
  
                Many rescue groups are created by and run by volunteers, who take animals into their homes and care for
                them-Including training, playing,handling medical issues and solving beheviours problems-Until a suitable
                permanent home can be found. Rescue groups exist for most street types but are most common for dogs and
                cats.</p>
              <div class="row gy-4 gy-md-0 gx-xxl-5X">
                <div class="col-12 col-md-6">
                  <div class="d-flex">
                    <div class="me-4 text-primary">
                      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-gear-fill" viewBox="0 0 16 16">
                        <path
                          d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                      </svg>
                    </div>
                    <div>
                      <h2 class="h4 mb-3">Support Us</h2>
                    <p class="text-secondary mb-0">We Need Your Help To Provide Good Life For Animals.</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="d-flex">
                    <div class="me-4 text-primary">
                      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-fire" viewBox="0 0 16 16">
                        <path
                          d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z" />
                      </svg>
                    </div>
                  
                      <div>
                        <h2 class="h4 mb-3">Help Us</h2>
                      <p class="text-secondary mb-0">Let us unit for them and make their lives easy.</p>
                      </div>
                  
                  </div>
  


